In [5]:
import pandas as pd
import numpy as np
from pandas import Series, DataFrame

In [1]:
# pip install xlrd
# pip install openpyxl

In [13]:
xlsFile = pd.ExcelFile("Lec_28_test.xlsx")

In [17]:
dframe = xlsFile.parse("Sheet1")

In [19]:
dframe

   This is a test  Unnamed: 1  Unnamed: 2
0              23        6678         456
1             234         678         456
2             234           7         345
3              34          56         234
4               5         456        4365

In [21]:
# more info about pandas and Excel files --- https://pandas.pydata.org/docs/reference/api/pandas.read_excel.html