In [4]:
import numpy as np
from numpy.random import randn
import pandas as pd
from pandas import Series, DataFrame

In [10]:
ser1 = Series(randn(6), index = [[1, 1, 1, 2, 2, 2], ["a", "b", "c", "a", "b", "c"]])
ser1

1  a   -1.932063
   b   -0.913456
   c   -1.660618
2  a   -0.152214
   b   -0.159444
   c    0.502163
dtype: float64

In [12]:
ser1.index

MultiIndex([(1, 'a'),
            (1, 'b'),
            (1, 'c'),
            (2, 'a'),
            (2, 'b'),
            (2, 'c')],
           )

In [14]:
ser1[1]

a   -1.932063
b   -0.913456
c   -1.660618
dtype: float64

In [18]:
ser1[2]

a   -0.152214
b   -0.159444
c    0.502163
dtype: float64

In [22]:
ser1[:, "a"]

1   -1.932063
2   -0.152214
dtype: float64

In [26]:
dframe1 = ser1.unstack()
dframe1

          a         b         c
1 -1.932063 -0.913456 -1.660618
2 -0.152214 -0.159444  0.502163