In [104]:
import pandas as pd
import numpy as np
from pandas import Series, DataFrame

In [106]:
# dataset --> split by index --> apply something to vals to get new vals --> combine
dframe_wine = pd.read_csv("winequality-red.csv", sep = ";")
dframe_wine.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,6
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5

In [108]:
# rank wines by highest alcohol content
def ranker(df):
    df["alc_content_rank"] = np.arange(len(df)) + 1
    return df

In [110]:
dframe_wine.sort_values("alcohol", ascending = False, inplace = True)

In [112]:
dframe_wine.reset_index(drop = True, inplace = True) # avoiding ambiguity
dframe_wine = dframe_wine.groupby("quality").apply(ranker, include_groups = True)

C:\Users\jfhar\AppData\Local\Temp\ipykernel_17492\654798229.py:2: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  dframe_wine = dframe_wine.groupby("quality").apply(ranker, include_groups = True)

In [114]:
dframe_wine.head()

             fixed acidity  volatile acidity  citric acid  residual sugar  \
quality
3       466            8.3             1.020         0.02            3.40
        491            7.6             1.580         0.00            2.10
        564            7.4             1.185         0.00            4.25
        763            7.1             0.875         0.05            5.70
        919            6.7             0.760         0.02            1.80

             chlorides  free sulfur dioxide  total sulfur dioxide  density  \
quality
3       466      0.084                  6.0                  11.0  0.99892
        491      0.137                  5.0                   9.0  0.99476
        564      0.097                  5.0                  14.0  0.99660
        763      0.082                  3.0                  14.0  0.99808
        919      0.078                  6.0                  12.0  0.99600

               pH  sulphates  alcohol  quality  alc_content_rank
quality
3       466  3.48       0.49    11.00        3                 1
        491  3.50       0.40    10.90        3                 2
        564  3.63       0.54    10.70        3                 3
        763  3.40       0.52    10.20        3                 4
        919  3.55       0.63     9.95        3                 5

In [116]:
num_of_qual = dframe_wine["quality"].value_counts()

In [120]:
num_of_qual

quality
5    681
6    638
7    199
4     53
8     18
3     10
Name: count, dtype: int64

In [126]:
dframe_wine[dframe_wine.alc_content_rank == 1].head(len(num_of_qual))

,,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality,alc_content_rank
quality,,,,,,,,,,,,,,
3,466,8.3,1.02,0.02,3.4,0.084,6.0,11.0,0.99892,3.48,0.49,11.0,3,1
4,21,4.6,0.52,0.15,2.1,0.054,8.0,65.0,0.99340,3.90,0.56,13.1,4,1
5,0,15.9,0.36,0.65,7.5,0.096,22.0,71.0,0.99760,2.98,0.84,14.9,5,1
6,2,5.2,0.34,0.00,1.8,0.050,27.0,63.0,0.99160,3.68,0.79,14.0,6,1
7,7,4.9,0.42,0.00,2.1,0.048,16.0,42.0,0.99154,3.71,0.74,14.0,7,1
8,1,5.0,0.42,0.24,2.0,0.060,19.0,50.0,0.99170,3.72,0.74,14.0,8,1